<%
first_name = person["name"].split(" ").first
%>

<title><%= first_name %>'s RSVP &middot; #smarnold</title>
<link rel="stylesheet" type="text/css" href="/rsvp/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-44805097-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-44805097-3');
</script>

<script type="text/javascript">

function onRsvpChange(rsvpRadio) {
  var response = rsvpRadio.value;
  showPages(response === "1");
}

function showPages(rsvpResponse) {
  var yesPage = document.getElementById("lookup-page-yes");
  var noPage = document.getElementById("lookup-page-no");
  var bothPage = document.getElementById("lookup-page-both");

  yesPage.style.display = "none";
  noPage.style.display = "none";
  bothPage.style.display = "block";
  if (rsvpResponse) {
    yesPage.style.display = "block";
  } else {
    noPage.style.display = "block";
  }
}

<%=

rsvp = person["rsvp_response"]
!rsvp.nil? ? "window.onload = function() { showPages(#{rsvp == "t"}); };" : nil

%>

</script>

<body>
  <div class="rsvp-page">
    <form class="edit-page-content" action="/rsvp/<%= person["id"] %>" method="POST">
      <img class="heart" src="/rsvp/heart-teal.svg" />

      <p class="intro">
        Hi there <%= first_name %>! It's great to hear from you.
      </p>

      <div class="question">
        <p>Will you be there?</p>
        <input 
          id="rsvp-yes" 
          class="rsvp-radio"
          type="radio" 
          name="rsvp_response" 
          value="1" 
          onchange="onRsvpChange(this)"
          <%= person["rsvp_response"] == "t" ? "checked" : "" %> />
        <label class="rsvp-button" for="rsvp-yes">Yes!</label>

        <input 
          id="rsvp-no"
          class="rsvp-radio" 
          type="radio" 
          name="rsvp_response" 
          value="0" 
          onchange="onRsvpChange(this)"
          <%= person["rsvp_response"] == "f" ? "checked" : "" %> />
        <label class="rsvp-button" for="rsvp-no">No</label>
      </div>

      <div id="lookup-page-yes" style="display: none;">
        <p>Fab.</p>

        <div class="question">
          <p>What would you like to eat?</p>

          <ul class="meal-choices">
            <li class="meal-choice">
              <input id="beef" type="radio" name="meal_choice" value="beef" <%= person["meal_choice"] == "beef" ? "checked" : "" %> />
              <label for="beef">Angus steak burger in a brioche bun with Emmental cheese, gem lettuce, tomato & pickle</label>
            </li>

            <li class="meal-choice">
              <input id="chicken" type="radio" name="meal_choice" value="chicken" <%= person["meal_choice"] == "chicken" ? "checked" : "" %> />
              <label for="chicken">Korean chicken thigh fillet burger in a brioche bun with kimchi slaw and gochujang mayo</label>
            </li>
            
            <li class="meal-choice">
              <input id="pork" type="radio" name="meal_choice" value="pork" <%= person["meal_choice"] == "pork" ? "checked" : "" %> />
              <label for="pork">Slow cooked BBQ pork in a brioche bun with crunchy celeriac slaw</label>
            </li>

            <li class="meal-choice">
              <input id="veg" type="radio" name="meal_choice" value="veg" <%= person["meal_choice"] == "veg" ? "checked" : "" %> />
              <label for="veg">Halloumi & roast vegetable stack with harissa & red pepper relish in a brioche bun</label>
            </li>
          </ul>
        </div>

        <div class="question">
          <label class="question-label" for="dietary_requirements">
            Do you have any dietary requirements our caterer should know about?
          </label>
          <textarea class="textarea" name="dietary_requirements" rows="4"><%= person["dietary_requirements"] %></textarea>
        </div>
      </div>

      <div id="lookup-page-no" style="display: none;">
        <p>It won't be the same without you! We hope you have wonderful alternative plans.</p>
      </div>

      <div id="lookup-page-both" style="display: none;">
        <div class="question">
          <label class="question-label" for="comments">
            Anything else you'd like to say?
          </label>
          <textarea class="textarea" name="comments" rows="4"><%= person["comments"] %></textarea>
        </div>

        <button class="submit-button" type="submit">Save</button>
      </div>
    </form>
  </div>
</body>
