<title>#smarnold</title>
<link rel="stylesheet" type="text/css" href="/the-wedding-party/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1">

<body>
  <div class="party-page">
    <div class="hero">
      <h1 class="hero-title">The Wedding Party 🎉</h1>
    </div>

    <div class="party-gallery">
      <img class="cell-01 item-image item-1" src="/the-wedding-party/<%= party[0][:image] %>" />
      <div class="cell-11 item-description description-below item-1">
        <h2 class="item-name"><%= party[0][:name] %></h2>
        <h3 class="item-title"><%= party[0][:title] %></h3>
        <div class="item-info"><%= party[0][:text] %></div>
      </div>

      <img class="cell-03 item-image item-2" src="/the-wedding-party/<%= party[1][:image] %>" />
      <div class="cell-02 item-description description-left item-2">
        <h2 class="item-name"><%= party[1][:name] %></h2>
        <h3 class="item-title"><%= party[1][:title] %></h3>
        <div class="item-info"><%= party[1][:text] %></div>
      </div>

      <img class="cell-12 item-image item-3" src="/the-wedding-party/<%= party[2][:image] %>" />
      <div class="cell-22 item-description description-below item-3">
        <h2 class="item-name"><%= party[2][:name] %></h2>
        <h3 class="item-title"><%= party[2][:title] %></h3>
        <div class="item-info"><%= party[2][:text] %></div>
      </div>

      <img class="cell-23 item-image item-4" src="/the-wedding-party/<%= party[3][:image] %>" />
      <div class="cell-13 item-description description-above item-4">
        <h2 class="item-name"><%= party[3][:name] %></h2>
        <h3 class="item-title"><%= party[3][:title] %></h3>
        <div class="item-info"><%= party[3][:text] %></div>
      </div>

      <img class="cell-21 item-image item-5" src="/the-wedding-party/<%= party[4][:image] %>" />
      <div class="cell-31 item-description description-above item-5">
        <h2 class="item-name"><%= party[4][:name] %></h2>
        <h3 class="item-title"><%= party[4][:title] %></h3>
        <div class="item-info"><%= party[4][:text] %></div>
      </div>

      <img class="cell-14 item-image item-1" src="/the-wedding-party/<%= party[5][:image] %>" />
      <div class="cell-04 item-description description-below item-1">
        <h2 class="item-name"><%= party[5][:name] %></h2>
        <h3 class="item-title"><%= party[5][:title] %></h3>
        <div class="item-info"><%= party[5][:text] %></div>
      </div>

      <img class="cell-32 item-image item-2" src="/the-wedding-party/<%= party[6][:image] %>" />
      <div class="cell-33 item-description description-right item-2">
        <h2 class="item-name"><%= party[6][:name] %></h2>
        <h3 class="item-title"><%= party[6][:title] %></h3>
        <div class="item-info"><%= party[6][:text] %></div>
      </div>

      <img class="cell-34 item-image item-3" src="/the-wedding-party/<%= party[7][:image] %>" />
      <div class="cell-24 item-description description-above item-3">
        <h2 class="item-name"><%= party[7][:name] %></h2>
        <h3 class="item-title"><%= party[7][:title] %></h3>
        <div class="item-info"><%= party[7][:text] %></div>
      </div>

      <img class="cell-41 item-image item-4" src="/the-wedding-party/<%= party[8][:image] %>" />
      <div class="cell-42 item-description description-right item-4">
        <h2 class="item-name"><%= party[8][:name] %></h2>
        <h3 class="item-title"><%= party[8][:title] %></h3>
        <div class="item-info"><%= party[8][:text] %></div>
      </div>

      <img class="cell-52 item-image item-5" src="/the-wedding-party/<%= party[9][:image] %>" />
      <div class="cell-51 item-description description-left item-5">
        <h2 class="item-name"><%= party[9][:name] %></h2>
        <h3 class="item-title"><%= party[9][:title] %></h3>
        <div class="item-info"><%= party[9][:text] %></div>
      </div>

      <img class="cell-43 item-image item-1" src="/the-wedding-party/<%= party[10][:image] %>" />
      <div class="cell-44 item-description description-right item-1">
        <h2 class="item-name"><%= party[10][:name] %></h2>
        <h3 class="item-title"><%= party[10][:title] %></h3>
        <div class="item-info"><%= party[10][:text] %></div>
      </div>

      <img class="cell-54 item-image item-2" src="/the-wedding-party/<%= party[11][:image] %>" />
      <div class="cell-53 item-description description-left item-2">
        <h2 class="item-name"><%= party[11][:name] %></h2>
        <h3 class="item-title"><%= party[11][:title] %></h3>
        <div class="item-info"><%= party[11][:text] %></div>
      </div>

      <img class="cell-61 item-image item-3" src="/the-wedding-party/<%= party[12][:image] %>" />
      <div class="cell-71 item-description description-below item-3">
        <h2 class="item-name"><%= party[12][:name] %></h2>
        <h3 class="item-title"><%= party[12][:title] %></h3>
        <div class="item-info"><%= party[12][:text] %></div>
      </div>

      <img class="cell-63 item-image item-4" src="/the-wedding-party/<%= party[13][:image] %>" />
      <div class="cell-62 item-description description-left item-4">
        <h2 class="item-name"><%= party[13][:name] %></h2>
        <h3 class="item-title"><%= party[13][:title] %></h3>
        <div class="item-info"><%= party[13][:text] %></div>
      </div>

      <img class="cell-72 item-image item-5" src="/the-wedding-party/<%= party[14][:image] %>" />
      <div class="cell-73 item-description description-right item-5">
        <h2 class="item-name"><%= party[14][:name] %></h2>
        <h3 class="item-title"><%= party[14][:title] %></h3>
        <div class="item-info"><%= party[14][:text] %></div>
      </div>

      <img class="cell-74 item-image item-1" src="/the-wedding-party/<%= party[15][:image] %>" />
      <div class="cell-64 item-description description-above item-1">
        <h2 class="item-name"><%= party[15][:name] %></h2>
        <h3 class="item-title"><%= party[15][:title] %></h3>
        <div class="item-info"><%= party[15][:text] %></div>
      </div>

      <img class="cell-81 item-image item-2" src="/the-wedding-party/<%= party[16][:image] %>" />
      <div class="cell-82 item-description description-right item-2">
        <h2 class="item-name"><%= party[16][:name] %></h2>
        <h3 class="item-title"><%= party[16][:title] %></h3>
        <div class="item-info"><%= party[16][:text] %></div>
      </div>

      <img class="cell-83 item-image item-3" src="/the-wedding-party/<%= party[17][:image] %>" />
      <div class="cell-84 item-description description-right item-3">
        <h2 class="item-name"><%= party[17][:name] %></h2>
        <h3 class="item-title"><%= party[17][:title] %></h3>
        <div class="item-info"><%= party[17][:text] %></div>
      </div>

      <img class="cell-92 item-image item-4" src="/the-wedding-party/<%= party[18][:image] %>" />
      <div class="cell-93 item-description description-right item-4">
        <h2 class="item-name"><%= party[18][:name] %></h2>
        <h3 class="item-title"><%= party[18][:title] %></h3>
        <div class="item-info"><%= party[18][:text] %></div>
      </div>

      <div class="cell-91 spacer"></div>
      <div class="cell-94 spacer"></div>
    </div>
  </div>
</body>
